
@{
    ViewBag.Title = "AdminIndex";
}

<h2>Hello Admin !</h2>


<hr />
<div class="menuAdmin">

    <h3>Admin Menu</h3>

    <br />
    <h4>@Html.ActionLink("Add Resource", "Create", "Books")</h4> 


    <h4>@Html.ActionLink("Resource List", "Index", "Books")</h4>



    <h4>@Html.ActionLink("Archive Documents", "Archive", "Books")</h4>

</div>